/hypr/.config/hypr/configs/looknfeel_current.conf
/kitty/.config/kitty/colors.conf
/rofi/.config/rofi/colors.rasi
/swaync/.config/swaync/colors.css
/waybar/.config/waybar/colors.css
/waybar/.config/waybar/style.css
/wlogout/.config/wlogout/colors.css
